// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

/* ----- Colors ----- */

// Color Variables
$corporate-1: #0A3A68;
$corporate-1-hover: #006EB6;
$body-grey: #7c8c9c;
$color-softblack:#4D5966;
$color-riverbedgray:#4d5966;
$color-regentgray:#7c8c9c;
$color-loblollygray:#c5ccd3;
$color-athensgray:#f9f9fa;
$deployability:#f39f44;
$sustainability:#72a754;
$viability:#54b1e2;

// Core Color Palette
$color-default-text: #586674;
$color-cornflower-blue: #f7f9fb;



// Gray Color Palette
$color-light-gray: #7c8c9c;
$color-shuttle-gray: #586674;
$color-shuttle-gray-70: #798590;
$color-shuttle-gray-50: #abb2b9;
$color-shuttle-gray-30: #ccd1d5;
$color-botticelli: #e6ecf0; //#ccdae5; // rgba(204, 218, 229)
$color-rock-blue: #9ab6cb; // rgba(154, 182, 203)

// Primary Color Palette
$color-regal-blue: #00416a; // rgb(0,65,106)
$color-bahama-blue: #006098; // rgb(0,96,152)
$color-curious-blue: #288dc1; // rgb(40,141,193)
$color-congress-blue: #004f90;

// Secondary Color Palette
$color-luxor-gold: #a89031; // rgb(168,144,49)
$color-silver-rust: #c7bbb6; // rgb(199,187,182)

// Tertiary Color Palette
$color-apple-green: #47a141; // rgb(71,161,65)
$color-flush-orange: #ff8300; // rgb(255,131,0)

// SDG's Color Palette
$color-sdg-6: #00aed9; // rgba(0,174,217)
$color-sdg-7: #fdb713; // rgba(253,183,19)
$color-sdg-9: #f36d25; // rgba(243,109,37)
$color-sdg-11: #f99d26; // rgba(249,157,38)
$color-sdg-12: #cf8d2a; // rgba(207,141,42)

// Alert Color Palette
$color-alert-success: #42d5aa;
$color-alert-warning: #fbb600;

// Border Color
$color-border: #eef3f6; // rgba(238, 243, 246)

// Member Color Palette
$innovators: #66dbca;
$investors: #64d955;
$seekers: #f04721;
$color-innovators: #66dbca;
$color-investors: #64d955;
$color-seekers: #f04721;


/* ----- Gutters ----- */

$gutters: 40;
$gutters-rem: 2.5;

$gutters-double: 80;
$gutters-rem-double: 5;

$gutters-sm: 15;
$gutters-sm-rem: 0.9375;

$gutters-lg: 30;
$gutters-lg-double: 60;

$gutters-lg-rem: 1.875;
$gutters-lg-rem-double: 3.75;

$gutters-xxl: 40;
$gutters-xxl-double: 80;

$gutters-xxl-rem: 2.5;
$gutters-xxl-rem-double: 5;

$text-font: "DIN", sans-serif;
$title-font: "DIN", sans-serif;

