b {
  font-weight: 500;
}// Specific CSS for your home-page


h5 {
  font-size: 18px;
  color: $cocoblueprimary;
  margin-bottom: 5px;
}

h6 {
  font-size: 10px;
  color: $cocolightgrey;
  margin-bottom: 5px;
}
