<div class="container">
  <h1 class="p-3">Mon dashboard</h1>
  <h3 class="p-3">Staffing Info</h3>
  <div class="row">
    <div class="col">
      <div>
        <canvas id="user-chart" data-user-chart= "<%= @data_users_availables %>"></canvas>
      </div>
    </div>
    <div class="col">
      <div>
        <canvas id="skills-chart" data-skills-chart= "<%= @data_skills_availables %>"></canvas>
      </div>
    </div>
  </div>
  <h3 class="p-3">Bilan</h3>
</div>
