<div class="container pt-4 id="first-row>
  <h3 class="p-4">Informations sur mon équipe </h3>
  <div class="row pb-4">
    <div class="col">
      Disponibilité de mon équipe à l'instant T
      <div class="chart-card">
        <canvas id="user-chart" data-user-chart= "<%= @data_users_availables %>"></canvas>
      </div>
    </div>
    <div class="col">
      Répartition de mon équipe par compétence
      <div class="chart-card">
        <canvas id="skills-chart" data-skills-chart= "<%= @data_skills_availables %>"></canvas>
      </div>
    </div>
  </div>
     <div class="col d-flex justify-content-center">


            <div class="counter m-3">
                <div class="card-title"> total projets: </div>
                <div> <%= @projects.count %>  </div>
              </div>

            <div class="counter-2 m-3">
                <div class="card-title"> Nombre d'heures financées :</div>
                <div> 60 </div>
              </div>

    </div>
  <h3 class="p-4"> Suivi des projets de l'entreprise </h3>
  <div class="row">
    <div class="col">
      <div class="chart-card">
        <canvas id="projects-status-chart" data-projects-status-chart= "<%= @data_projects_status %>"></canvas>
      </div>
    </div>
</div>
