<%= current_user.first_name %>

<% if current_user.admin %>
  <%= render "admin-show" %>
<% else %>
  <%= render "user-show" %>
<% end %>

<<<<<<< HEAD

<div class="charts-container">

<canvas id="UserChart" data-user-chart= "<%= @data %>"></canvas>

</div>

=======
<canvas id="myChart" width="400" height="400"></canvas>
>>>>>>> f14b323c8e95281354fa3c7e494c3d3e64a72f8a
