<%= current_user.first_name %>

<% if current_user.admin %>
  <%= render "admin-show" %>
<% else %>
  <%= render "user-show" %>
<% end %>


<div class="charts-container">

<canvas id="UserChart"></canvas>

</div>

