  <div class="banner d-flex justify-content-between align-items-center">
    <%= image_tag "COCONUT-white.png", :class => "logo" %>
    <div class="banner-left">
      <div class="banner-title">
        <h1>Faciliter et encourager l'engagement citoyen !</h1>
      </div>
      <div class="banner-text">
        <p>Créer de l'impact social au niveau local en construisant des ponts entre les entreprises et les associations grâce au mécénat de compétences</p>
        <%= link_to 'Je decouvre les missions', projects_path, class:'btn btn-outline-light btn-lg mr-2' %>
      </div>
    </div>
    <%= image_tag "coconut_banner.png", :class => "img-banner" %>
  </div>
