<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2978&q=80);">
  <div class="container">
    <div class="banner-title">
      <h1>Faciliter et encourager l'engagement citoyen!</h1>
    </div>
    <div class="banner-text">
      <p>Créer de l'impact social au niveau local en construisant des ponts entre les entreprises et les associations grâce au mécénat de compétences</p>
      <a class="btn btn-flat btn-primary btn-lg" href="#">Entreprise</a>
      <a class="btn btn-flat btn-outline-secondary btn-lg" href="#">Salarié</a>
    </div>
  </div>
</div>
