<div class="card-product my-5 d-flex flex-row justify-content-around">
  <div class="card-logo">
    <%= image_tag project.charity.logo %>
  </div>
  <div class="card-product-infos">
    <h2>
      <%= project.name %>
    </h2>
    <p class="card-description">
      <%= project.description %>
    </p>
  </div>
  <div class="card-tags">
    <div class="badges">
      <% project.tag_list.first(3).each do |tag| %>
        <span class="badge">
          <%= link_to tag.capitalize, tagged_path(tag: tag) %>
        </span>
      <% end %>
    </div>
  </div>
</div>
