<div class="d-flex flex-column justify-content-start ml-3 mt-3" >
  <h5><i class="fa fa-arrow-right mr-2 text-dark" aria-hidden="true"></i><%= event.title %></h5>
  <div class="ml-4"><%= event.start %></div>
</div>
