<div class="container">
  <div class="py-5">
    <%= render "shared/search-bar" %>
    <input type="text" name="search" id="search"/>
  </div>
  <h2>Besoins des associations</h2>
    <div class="cards">
      <% projects.each do |project| %>
        <%= render "shared/card-project", project: project %>
      <% end %>
    </div>
</div>
