<div class="container">
  <div class="py-5">
    <%= render "shared/search-bar" %>
  </div>
  <h2>Besoins des associations</h2>
  <div id="projects-container">
    <%= render "shared/projects_container", projects: @projects %>
  </div>
</div>
