<%= render 'shared/banner' %>

<h1>Nos projects en cours</h1>
  <div class="cards">
    <% @projects.each do |project| %>
      <%= render 'shared/card-description', project: project %>
      <%= render "shared/card-project", project: project %>
    <% end %>
  </div>

