<%= render 'shared/banner' %>
<div class="container">
  <div class="d-flex flex-column">
    <h1 class="mt-5 pb-3 d-flex justify-content-center mt-4">Le fonctionnement de Coconut en 4 étapes
    </h1>
    <p class="pb-3 d-flex justify-content-center">Une plateforme solidaire simple et adaptée aux enjeux de nos associations et entreprises partenaires
    </p>
  </div>
  <div class="d-flex justify-content-around">
    <div class="card_home">
      <h3>1</h3>
      <p class=""> Les associations partenaires de Coconut remontent leurs besoins en compétences spécifiques sur la plateforme.</p>
    </div>
    <div class=" card_home">
      <h3>2</h3>
      <p class=""> Les besoins des associations sont calibrés sur des formats de missions en mécénat de compétences. Les missions sont remontées sur les plateformes des entreprises partenaires de Coconut.</p>
    </div>
    <div class="card_home">
      <h3>3</h3>
      <p class=""> Les collaborateurs des entreprises partenaires se connectent sur la plateforme Coconut et s'engagent en trois clics sur les missions disponibles au sein des associations locales.</p>
    </div>
    <div class="card_home">
      <h3>4</h3>
      <p class="mb-5"> Les besoins des associations sont calibrés sur des formats de missions en mécénat de compétences. Les missions sont remontées sur les plateformes des entreprises partenaires de Coconut.</p>
    </div>
  </div>
</div>

