<div class="container">
  <h1>Projects</h1>
    <div class="cards">
      <% @projects.each do |project| %>
        <%= render "shared/card-project", project: project if project.favorited_by?(current_user) %>
      <% end %>
    </div>
</div>
