<div class="container">
  <h2><%= @project.name %> </h2>
  <p><%= @project.description%></p>
  <h3>Skills needed:</h3>
  <ul>
    <% @project.skills.each do |skill| %>
    <li>
      <%= skill.name %>
    </li>
    <% end %>
  </ul>
</div>


<% if current_user.credits.nil? || current_user.credits == 0 %>
  <p class="btn btn-primary">
    Plus de crédit!
  </p>
<% else %>
  <div class="container">
    <%= link_to 'Je veux participer !', new_project_reservation_path(@project), class: 'btn btn-primary' %>
  </div>
<% end %>
