<div class="container">
  <div class="mt-5 row justify-content-center">
    <%= cl_video_tag("BNP%20Paribas", :width => 1000, :height => 300,
    :crop => :fill,
    :preload => "none", :controls => true,
    :fallback_content => "Your browser does not support HTML5 video tags" ) %>
  </div>
  <div class="row justify-content-around">
    <div class="col-6">
      <div class="mt-3">
        <h2><%= @project.name %> </h2>
      </div>
      <div class="border rounded bg-white">
        <p><%= @project.description%></p>
      </div>
    </div>
    <div class="col-4">
      <div>
      <div class="mt-3">
        <h3>Skills needed:</h3>
      </div>
      <div class="border rounded">
        <ul>
          <% @project.skills.each do |skill| %>
          <li>
            <%= skill.name %>
          </li>
          <% end %>
        </ul>
      </div>
      <a class="mt-5 btn btn-flat btn-primary btn-lg" href="#">Participer</a>
    </div>
  </div>
</div>
