<div class="div-center w-50 pt-5">
  <%= simple_form_for [@project, @reservation] do |f| %>
    <%= f.input :credits, label: "Combien de crédits souhaitez-vous affecter à ce projet ?", collection: 1..current_user.credits %>
    <%= f.input :skill_list, label: "Quelles compétences souhaitez-vous mettre à contribution ?", collection: @project.skill_list, as: :check_boxes, input_html: {class: "select2-multiple", multiple: true, value: f.object.skill_list.join(",")} %>
    <%= f.button :submit, "Participer", class: "btn-dashboard" %>
  <% end %>
</div>
