.banner {
  height: calc(100vh - 160px);
  background-color: $cocoblueprimary;
  padding: 0 100px 0 150px;
}
.img-banner {
  width: 600px;
  align-self: flex-end;
}

.banner h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

.banner-title {
    max-width: 900px;
}

.banner-text {
    max-width: 500px;
}

.a {
  border-radius: 10px;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
}
