.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: calc(100vh - 120px);
}

.banner h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-title {
    padding: 25px;
    max-width: 900px;
    height: 60px;
    margin-top: -60px;
}

.banner-text {
    padding: 25px;
    max-width: 500px;
    height: 200px;
    margin-top: -5px;
}
.a {
  border-radius: 10px;
}
