/* ---------------------------------
    - Backgrounds
--------------------------------- */
/* Background Color */

// Primary Color Palette
.bg-regal-blue {
    background-color: $color-regal-blue !important;
}
.bg-bahama-blue {
    background-color: $color-bahama-blue !important;
}
.bg-curious-blue {
    background-color: $color-curious-blue !important;
}

// Secondary Color Palette
.bg-luxor-gold {
    background-color: $color-luxor-gold !important;
}
.bg-silver-rust {
    background-color: $color-silver-rust !important;
}

// Tertiary Color Palette
.bg-apple-green {
    background-color: $color-apple-green !important;
}
.bg-flush-orange {
    background-color: $color-flush-orange !important;
}

.bg-white {
    background-color: #fff !important;
}
.bg-cornflower-blue {
    background-color: $color-cornflower-blue;
}
.bg-gradient-cornflower-blue {
    background: linear-gradient(to top, $color-cornflower-blue 50%, transparent 100%);
}

/* Background Gradient Color */

.bg-gradient-blue {
    background: -moz-linear-gradient(125deg, rgba(0,65,106, 1) 0%, rgba(0,96,152, 1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0,65,106, 1)), color-stop(100%, rgba(0,96,152, 1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(125deg, rgba(0,65,106, 1) 0%, rgba(0,96,152, 1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(125deg, rgba(0,65,106, 1) 0%, rgba(0,96,152, 1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(125deg, rgba(0,65,106, 1) 0%, rgba(0,96,152, 1) 100%); /* ie10+ */
    background: linear-gradient(125deg, rgba(0,65,106, 1) 0%, rgba(0,96,152, 1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00416a', endColorstr='#006098', GradientType=1); /* ie6-9 */
}
.bg-gradient-orange {
    background: -moz-linear-gradient(125deg, rgba(255,131,0, 1) 0%, rgba(255,156,51, 1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,131,0, 1)), color-stop(100%, rgba(255,156,51, 1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(125deg, rgba(255,131,0, 1) 0%, rgba(255,156,51, 1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(125deg, rgba(255,131,0, 1) 0%, rgba(255,156,51, 1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(125deg, rgba(255,131,0, 1) 0%, rgba(255,156,51, 1) 100%); /* ie10+ */
    background: linear-gradient(125deg, rgba(255,131,0, 1) 0%, rgba(255,156,51, 1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8300', endColorstr='#ff9c33', GradientType=1); /* ie6-9 */
}
.bg-gradient-sdg-6 {
    background: -moz-linear-gradient(125deg, rgba(18, 111, 135, 1) 0%, rgba(0, 174, 217, 1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(18, 111, 135, 1)), color-stop(100%, rgba(0, 174, 217, 1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(125deg, rgba(18, 111, 135, 1) 0%, rgba(0, 174, 217, 1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(125deg, rgba(18, 111, 135, 1) 0%, rgba(0, 174, 217, 1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(125deg, rgba(18, 111, 135, 1) 0%, rgba(0, 174, 217, 1) 100%); /* ie10+ */
    background: linear-gradient(125deg, rgba(18, 111, 135, 1) 0%, rgba(0, 174, 217, 1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#126f87', endColorstr='#00aed9', GradientType=1); /* ie6-9 */
}
.bg-gradient-sdg-7 {
    background: -moz-linear-gradient(125deg, rgba(177, 136, 2, 1) 0%, rgba(253, 183, 19, 1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(177, 136, 2, 1)), color-stop(100%, rgba(253, 183, 19, 1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(125deg, rgba(177, 136, 2, 1) 0%, rgba(253, 183, 19, 1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(125deg, rgba(177, 136, 2, 1) 0%, rgba(253, 183, 19, 1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(125deg, rgba(177, 136, 2, 1) 0%, rgba(253, 183, 19, 1) 100%); /* ie10+ */
    background: linear-gradient(125deg, rgba(177, 136, 2, 1) 0%, rgba(253, 183, 19, 1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b18802', endColorstr='#fdb713', GradientType=1); /* ie6-9 */
}
.bg-gradient-sdg-9 {
    background: -moz-linear-gradient(125deg, rgba(202, 65, 2, 1) 0%, rgba(243, 109, 37, 1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(202, 65, 2, 1)), color-stop(100%, rgba(243, 109, 37, 1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(125deg, rgba(202, 65, 2, 1) 0%, rgba(243, 109, 37, 1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(125deg, rgba(202, 65, 2, 1) 0%, rgba(243, 109, 37, 1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(125deg, rgba(202, 65, 2, 1) 0%, rgba(243, 109, 37, 11) 100%); /* ie10+ */
    background: linear-gradient(125deg, rgba(202, 65, 2, 1) 0%, rgba(243, 109, 37, 1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ca4102', endColorstr='#f36d25', GradientType=1); /* ie6-9 */
}
.bg-gradient-sdg-11 {
    background: -moz-linear-gradient(125deg, rgba(202, 112, 2, 1) 0%, rgba(249, 157, 38, 1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(202, 112, 2, 1)), color-stop(100%, rgba(249, 157, 38, 1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(125deg, rgba(202, 112, 2, 1) 0%, rgba(249, 157, 38, 1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(125deg, rgba(202, 112, 2, 1) 0%, rgba(249, 157, 38, 1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(125deg, rgba(202, 112, 2, 1) 0%, rgba(249, 157, 38, 1) 100%); /* ie10+ */
    background: linear-gradient(125deg, rgba(202, 112, 2, 1) 0%, rgba(249, 157, 38, 1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ca7002', endColorstr='#f99d26', GradientType=1); /* ie6-9 */
}
.bg-gradient-sdg-12 {
    background: -moz-linear-gradient(125deg, rgba(123, 89, 30, 1) 0%, rgba(207, 141, 42, 1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(123, 89, 30, 1)), color-stop(100%, rgba(207, 141, 42, 1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(125deg, rgba(123, 89, 30, 1) 0%, rgba(207, 141, 42, 1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(125deg, rgba(123, 89, 30, 1) 0%, rgba(207, 141, 42, 1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(125deg, rgba(123, 89, 30, 1) 0%, rgba(207, 141, 42, 1) 100%); /* ie10+ */
    background: linear-gradient(125deg, rgba(123, 89, 30, 1) 0%, rgba(207, 141, 42, 1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b18802', endColorstr='#cf8d2a', GradientType=1); /* ie6-9 */
}

// Gray Color Palette
.bg-shuttle-gray {
    background: $color-shuttle-gray;
}
.bg-shuttle-gray-70 {
    background: $color-shuttle-gray-70;
}
.bg-shuttle-gray-50 {
    background: $color-shuttle-gray-50;
}
.bg-shuttle-gray-30 {
    background: $color-shuttle-gray-30;
}
.bg-botticelli {
    background: $color-botticelli;
}
.bg-rock-blue {
    background: $color-rock-blue!important;
}
.bg-border {
    background: $color-border;
}

// SDG's Color Palette
.bg-sdg-6  {
    background: $color-sdg-6;
}
.bg-sdg-7 {
    background: $color-sdg-7;
}
.bg-sdg-9 {
    background: $color-sdg-9;
}
.bg-sdg-11 {
    background: $color-sdg-11;
}
.bg-sdg-12 {
    background: $color-sdg-12;
}

// Alert Color Palette
.bg-alert-success {
    background-color: $color-alert-success;
}
.bg-alert-warning {
    background-color: $color-alert-warning;
}

// Member Color Palette
.bg-innovators {
    background: $color-innovators!important;
}
.bg-investors {
    background: $color-investors!important;
}
.bg-seekers {
    background: $color-seekers!important;
}

/* Background Layouts */

.bg-t-n-outer {
    position: relative;
    &:before {
        content: '';
        background-color: $color-cornflower-blue;
        position: absolute;
        top: -120px;
        left: 0;
        height: calc(100% + 120px);
        width: 100%;
        z-index: -1;
    }
}

.bg-outer {
    position: relative;

    &.bg-white {
        &:before {
            background-color: #fff;
        }
    }

    &:before {
        content: '';
        background-color: $color-cornflower-blue;
        height: 100%;
        position: absolute;
        top: 0;
        width: calc(100% + 50vw - 20px);
    }

    &.bg-t-outer {
        &:before {
            top: 4.4rem;
            height: calc(100% - 4.4rem);
        }
    }

    &.bg-r-outer {
        &:before {
            left: 0;
            margin-right: -50vw;
        }
    }

    &.bg-t-n-outer {
        &:before {
            top: -120px;
            height: calc(100% + 120px);
        }
    }

    &.bg-l-outer {
        &:before {
            left: 0;
            margin-left: -50vw;
            width: calc(100% + 50vw);
        }
    }

    &.z-index-n-2 {
        &:before {
            z-index: -2;
        }
    }

    &.bg-r-outer-50vw {
        &:after {
            width: 50vw;
            right: 0;
            margin-right: calc(-50vw + 75%);
        }
    }

    &.bg-l-outer-50vw {
        &:after {
            width: 50vw;
            left: 0;
            margin-left: calc(-50vw + 75%);
        }
    }

}
.bg-indent {
    position: relative;
    &:before {
        content: '';
        background-color: $color-cornflower-blue;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
    &.bg-t-indent {
        &:before {
            top: 2.5rem;
        }
    }
    &.bg-t-n-indent {
        &:before {
            top: -2.5rem;
        }
    }
    &.bg-r-indent {
        &:before {
            right: 2.5rem;
        }
    }
    &.bg-l-indent {
        &:before {
            left: 2.5rem;
        }
    }
}

.bg-partners {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url("../../img/bg/bg-partners.png");
        background-position: top right;
        background-repeat: no-repeat;
        background-size: auto 100%;
        opacity: 0.1;
    }
}

// Swiper
.swiper-carousel-before {
    &:before {
        content: '';
        width: 100%;
        background: $color-cornflower-blue;
        position: absolute;
        left: calc(-100% + 20px);
        top: -20px;
        bottom: 0;
        z-index: 2;
    }
}

.bg-half-top-white {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        height: 50%;
        width: 100%;
        background: #fff;
    }
}

.bg-half-top-cornflower-blue {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        height: 50%;
        width: 100%;
        background: $color-cornflower-blue;
    }
}

.bg-cornflower-vw-left {
    position: relative;
    &:before {
        content: "";
        width: 100%;
        position: absolute;
        background: $color-cornflower-blue;
        width: calc(100% + 20vw);
        left: calc(-20vw - 80px);
        height: 500px;
        bottom: 0;
        z-index: -1;

    }
}



#home-submit-solution {
    .bg-outer {
        &:after {
            background: -moz-linear-gradient(125deg, rgba(0,65,106, 1) 0%, rgba(0,96,152, 1) 100%); /* ff3.6+ */
            background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0,65,106, 1)), color-stop(100%, rgba(0,96,152, 1))); /* safari4+,chrome */
            background: -webkit-linear-gradient(125deg, rgba(0,65,106, 1) 0%, rgba(0,96,152, 1) 100%); /* safari5.1+,chrome10+ */
            background: -o-linear-gradient(125deg, rgba(0,65,106, 1) 0%, rgba(0,96,152, 1) 100%); /* opera 11.10+ */
            background: -ms-linear-gradient(125deg, rgba(0,65,106, 1) 0%, rgba(0,96,152, 1) 100%); /* ie10+ */
            background: linear-gradient(125deg, rgba(0,65,106, 1) 0%, rgba(0,96,152, 1) 100%); /* w3c */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00416a', endColorstr='#006098', GradientType=1); /* ie6-9 */
        }
    }
}

#cities {
    .bg-r-outer-50vw {
        position: relative;
        &:after {
            content: '';
            background-color: $color-cornflower-blue;
            height: 100%;
            position: absolute;
            top: 0;
            width: 100vw;
            right: 0;
            z-index: -1;
            @media (min-width: 1200px) {
                width: 50vw;
            }
            background: url('../../img/sections/advocacy-cities.jpg') no-repeat;
            background-size: cover;
            background-position: right;
        }
    }
}


.bg-lines {
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: top -20% right;
    background-image: url(/img/bg/volute1_grey_thin.png);
}

.bg-become-member-world-alliance {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(/img/bg/bg-become-member-world-alliance.jpg);
}

.bg-b-i {
    position: relative;
    &:after {
        content: '';
        background-color: $color-cornflower-blue;
        height: 30px;
        @media (min-width:1600px) {
            height: 40px;
        }
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        z-index: -1;
    }
}

.bg-t-i {
    position: relative;
    &:before {
        content: '';
        background-color: #fff;
        height: 30px;
        @media (min-width:1600px) {
            height: 40px;
        }
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
    }
}

