// PROJECT CARD
.card-product {
  overflow: hidden;
  height: 175px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  align-items: center;
  border-radius: 5px;
  padding: 20px;
}
.card-product i {
  color: black;
}
// PROJECT CARD : LINKS
.card-description-link a {
  color: black;
  font-size: 12px;
  float: right;
  margin: 10px 0px;
}
.card-description-link a:link {
  text-decoration: none;
  color: black;
}
.card-description-link a:visited {
  text-decoration: none;
  color: black;
}
.card-description-link a:hover {
  text-decoration: none;
  color: black;
}
.card-description-link a:active {
  text-decoration: none;
  color: black;
}
// PROJECT LOGO
.card-logo {
  max-width: 100px;
  max-height: 100px;
  margin-right: 12px;
  margin-left: 20px;
}
.card-logo img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
// PROJECT TITLE
.card-product h2 {
  font-size: 16px;
  margin: 0;
}
// PROJECT DESCRIPTION
.card-description {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  // Keep description on 3 lines no matter what:
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.card-description-link {
  color: black;
}
// PROJECT TITLE & DESCRIPTION
.card-product .card-product-infos {
  padding: 0 20px;
}
.card-product-infos p {
  text-align: justify;
  line-height: 1.6;
}
.card-titles p {
  margin: 0px;
  font-size: 12px;
}
// PROJECT SKILLS
.card-tags {
  min-width: 250px;
  height: 100%;
  margin: 0px 16px;
  padding: 16px 0px;
}
.card-tags p {
  margin-bottom: 0px;
  margin-left: 8px;
}
.badge {
  background: #DCE0F5;
  font-weight: 400;
  padding: 0.7em;
  margin: 8px;
  border-radius: 5px;
}
.project-figures {
  font-size: 12px;
}
.project-figures span {
  color: #0122DC;
  font-weight: 500;
}
// PROJECT SKILLS : LINKS
.badge a {
  text-decoration: none;
  color: #0122DC;
}
.badge a:link {
  text-decoration: none;
  color: #0122DC;
}
.badge a:visited {
  text-decoration: none;
  color: #0122DC;
}
.badge a:hover {
  text-decoration: none;
  color: #0122DC;
}
.badge a:active {
  text-decoration: none;
  color: #0122DC;
}
// PROJECT CARD SEPARATOR
.vertical-line {
  width: 1px;
  height: 80%;
  background: $cocolightgrey;
  border: none;
}

.mini-card {
  background-color: $cocowhitebg;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

}

.counter {
  background-color: $cocowhitebg;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  position: absolute;
  top: -85px;
  right: 0;

}

.counter-2 {
  background-color: $cocowhitebg;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  position: absolute;
  top: -85px;
  right: 10;
}
 #first-row {
  position: relative;
 }
