.logosb {
  font-weight: 600;
  font-size: 24px;
  padding: 40px;
}

.logosb a {
  color : $cocoblueprimary;
}

.icons {
  color: $cocomediumgrey;
}

.sidebar-brand {
  text-align: left;
}
a {
  color: $cocomediumgrey;
}

a:hover {
  color: #83848C;
}


#sidebar-container {
  background-color: $cocowhitebg;
  width: 200px;
  height: 100vh;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

#sidebar.active {
  margin-left: -200px;
}

a:link {
  text-decoration:none;
}

ul.sidebar-brand {
  list-style:none;
  padding: 0px;
  margin: 0 auto;
  width: fit-content;
}

// #sidebar {
//   position: sticky;
// }
