a {
  color: $cocomediumgrey;
}

a:link {
  text-decoration: none;
  color: $cocomediumgrey;
}

a:visited {
  text-decoration: none;
  color: $cocomediumgrey;
}

a:hover {
  text-decoration: none;
  color: $cocomediumgrey;
}

a:active {
  text-decoration: none;
  color: $cocomediumgrey;
}

h4 {
  color: $cocomediumgrey;
}

.logosb {
  font-weight: 600;
  font-size: 24px;
}

.logosb a {
  color : $cocoblueprimary;
}

.icons {
  color: $cocomediumgrey;
}

.avatar-sidebar {
  border-radius: 50%;
  border: 2px solid white;
  height: 80px;
  width: 80px;
}

.sidebar-brand {
  text-align: left;
}

ul.sidebar-brand {
  list-style:none;
  padding: 0px;
  margin: 0 auto;
  width: fit-content;
}

.btn-dashboard {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $cocoblueprimary;
  transition: background 0.3s ease;
  width: 140px;
}

a:hover.btn-dashboard {
  background: #2948f2;
  color: white;
}

a:link.btn-dashboard {
  color: white;
}

a:visited.btn-dashboard {
  color: white;
}

a:active.btn-dashboard {
  color: white;
}

#sidebar-container {
  background-color: $cocowhitebg;
  width: 200px;
  height: 100vh;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

#sidebar.active {
  margin-left: -200px;
}

